DATABASE_URL=postgresql://jtel:jtel_dev@localhost:5432/jtel
UMBRELLA_GPS_URL=http://gps2.umbrellasoluciones.com
UMBRELLA_USER_ID=
UMBRELLA_PASSWORD=
CRON_SECRET=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
